@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.app {
  color: #FFF;
}

.app-header {
  margin-top: 40px;
  font-weight: bold;
  font-size: 25pt;
  text-align: center;
  color: #000;
}

.navbar {
  box-shadow: 5px 6px 6px #d3d3d3;
}

.navbar-brand {
  font-family: 'Pokemon Solid', Verdana, Tahoma, sans-serif;
}

.btn-release {
  text-decoration: none;
  color: #ffffff;
}